.category_show {
  width: 200px;
  height: 300px;
  margin-left: 450px;
}
.ategory-name{
  padding-left: 50px;
}
.category_name {
  display: flex;
  padding-top: 10px;
}
.categori_up {
  margin-top: 10px;
}
.category_title {
  text-align: center;
}
.categories_edit {
  margin-top: 10px;
  text-align: center;
}
.categories_delete {
  margin-top: 10px;
  text-align: center;
}
.categories_all {
  text-align: center;
}
.categories_edit {
  text-align: center;
}
.category-list {
  padding-top: 5px;
  margin-top: 5px;
  width: 200px;
  height: 300px;
}
.category-name {
  display: flex;
  padding-top: 110px;
}
p {
  padding-left: 5px;
}
.name {
  padding-left: 10px;
  font-size: 15px;
}
.category-detail {
  padding-top: 10px;
}
.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 80px;
  margin-top: 50px;
}
h3.new {
  text-align: left;
}
.detail {
  padding-top: 20px;
}
.img_c {
  height: 100px;
  width: 200px;
}
    /* form edit */
.new{
  text-align: center;
}
.form_edit{
  width:200px;
  height:250px;
  margin-left: 450px;
}
label{
  font-size: 15px;
}
.form_name{
  margin-left: -140px;
  margin-top: 100px;
}
.form_submit{
  margin-left: -50px;
}
    /* form new */
.form_new{
  width:200px;
  height:250px;
  margin-left: 450px;
}
.form_new_name{
  padding-top: 100px;
}
.form_new_submit{
  margin-left: 480px;
}
.form-search.pub{
  display:flex;
}
/* search category*/
.button--searchh{
  width: 100px;
  height: 34px;
  margin-left: 10px;
}