.category_show {
  text-align: center;

  .category_name {
    h1 {
      display: inline;
    }
    .ategories-name {
      margin-left: 15px;  
    }
  }
  .category_up {
    padding: 50px;
  }
}
.categories_edit{
  margin-top: 10px;
}
.categories_delete{
  margin-top: 10px;
}
.categories_all{
  text-align: center;
}
.categories_edit{
  text-align: center;
}
