.publis{
  width: 900px !important;
}
.pub{
  justify-content:center;
  margin-top: 20px;
}
.publisher{
  margin-top: 50px;
  &-list{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding: 20px 20px;
    background-color: #fff;
    border-bottom: 1px solid;
  }
  &-add{
    padding: 20px 15px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(230, 182, 62);
    margin-top: 20px;
    display: inline-block;
    &:hover{
      text-decoration: none;
      color: #000;
    }
  }
  &-item{
    display: flex;
    justify-content:center;
    align-items:stretch;
    gap: 80px 30px;
    // border: 1px solid gray;
    padding: 20px 5px ;
  }
  &-name{
    display: inline-block;
    width: 800px;
    font-size: 18px;
  }&-form{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 10px 35px;
    &-name{
      margin-right: 30px;
      font-size: 18px;
    }
    &-fieldname{
      margin-right: 40px;
      input{
        padding: 5px 10px;
        width: 700px;
      }
    }
  }
  &-submit{
    input{  
      padding: 7px 20px;
      background-color: greenyellow;
      border: none;
      text-transform: capitalize;
      font-size: 15px;
      border-radius: 5px;
      &:hover{
        background-color: rgb(228, 231, 28);
        color: black;
      }
    }
  }
  &-new{
    padding: 5px 10px;
    background-color: white;
    margin: 10px 0;
  }
}
.edit,.delete{
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  &:hover{
    text-decoration: none;
  }
}
.edit{
  background-color: rgb(24, 207, 122);
}
.delete{
  background-color: rgb(231, 62, 62);
}
.add-f{
  display: none;
}
.display{
  display: block;
  // visibility: visible;
}