.publis{
  width: 600px !important;
}
.pub{
  justify-content:center;
  margin-top: 20px;
}
.publisher{
  margin-top: 50px;
  
  &-amount{
    width: 80px;
  }
  &-back{
    position: absolute;
    top: 32px;
    left: 177px;
    a{
      display: flex;
      align-items: center;
      gap: 0 10px;
      color: black;
    }
    &:hover{
      a{
        text-decoration: none;
      }
    }
  }
  &-button{
    display: flex;
    gap: 0px 1px;
  }
  &-btn{
    width: 600px;
    border-radius: 100px;
  }
  &-but{
    display: flex;
    gap: 0 15px;
  }
  &-list{
    display: flex;
    flex-direction:column;
    border-bottom: 1px solid;
  }
  &-item{
    display: flex;
    gap: 0px 98px;
    padding: 25px 75px;
    color: black;
    font-weight: 400;
  }
  &-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 65px;  
  }
  &-add{
    padding: 10px 50px;
    border-radius: 5px;
    color: #fff;
    background-image: linear-gradient(90deg, rgb(255, 138, 0) 0%, rgb(255, 192, 0) 100%);    margin-top: 20px;
    display: inline-block;
    &:hover{
      text-decoration: none;
      color: #000;
    }
  }
  
  &-name{
    display: inline-block;
    width: 150px;
    text-transform: capitalize;
  }
  &-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px 0;
    padding: 10px 35px;

    &-fieldname{
      input{
        height: 60px;
        border-radius: 100px;
        padding: 5px 70px;
        width: 600px;
        border: 1px solid #EFEFEF;
        font-size: 14px;
        color: #5C5C5C;
        font-weight: 600;
      }
    }
    label{
      width: 100px;
    }
  }
  &-submit{
    input{  
      padding: 21px 20px;
      background-color: greenyellow;
      border: none;
      text-transform: capitalize;
      font-size: 15px;
    }
  }
  &-new{
    position: relative;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
    h2{
      text-align: center;
    }
  }
  &-menu{
    width: 200px;
    background-color: #fff;
    height: 500px;
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);

  }
  &-nested{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0 30px;
    select{
      width: 200px;
      border-radius: 100px;
      padding: 20px !important;
      background-color: #fff;
      border: 1px solid #EFEFEF;
    }
  }
}
.edit,.delete, .detail{
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  border: none;
  &:hover{
    text-decoration: none;
  }
}
.detail{
  background-color: rgb(59, 135, 223);
}
.edit{
  background-color: rgb(24, 207, 122);
}
.delete{
  background-color: rgb(231, 62, 62);
}
.add-f{
  display: none;
}
.display{
  display: block;
}
.head{
  padding: 25px 75px;
  background-color: #fff;
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 10px;
  color: black;
  font-weight: bold;
  display: flex;
  gap: 0px 145px;
  margin-top: 20px;
  &-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 100px;
  }
  &-book{
    gap: 0 165px;
  }
  &-request{
    gap: 0 90px;
  }
}
.container-admin{
  background-color: rgb(255,247,223);
  padding: 0 40px 0 0;
  display: flex;
  flex-direction: row;
  gap: 0 100px;
}
.cre{
  display: flex;
  gap: 0px 100px;
}
.export{
  padding: 20px 75px;
}
.yield-content{
  overflow: hidden;
  width: 100%;
}
.book-se{
  width: 400px !important;
}
.sidebar{
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  // height: 100vh;
  background-image: linear-gradient(90deg, #ff8a00 0%, #ffc000 100%);
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  box-sizing: border-box;
  // margin-top: 30px;
  .dropdown {
    position: relative;
    display: block;
    padding: 15px 40px;
    transition: all 0.4s linear;
    a{
      display: block;
      width: 100px;
      color: #fff;
    }
    &:hover{
      padding: 15px 30px;
      border-left: 3px solid white;
      a{
        text-decoration: none;
        color: #000;
      }
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
}
.alert{
  margin-bottom: 0;
  font-weight: 500;
  color: red;
}
.dis{
  display: none;
}
