.form-search.pub
  = form_tag categories_path, method: :get, class: "form-inline" do
  = text_field_tag :name, params[:name], class: "form-control publis"
  = submit_tag "Search", name: nil, class: "button--search"
